# Last.fm API Keys
# You can get these by creating an API account at https://www.last.fm/api/account/create
LASTFM_API_KEY=your_api_key_here
LASTFM_API_SECRET=your_api_secret_here

# Paths
# The path on your host machine to your music library (default: /home/derrik/Music)
# MEDIA_PATH=/home/derrik/Music
