# Node
node_modules/
dist/
.DS_Store

# Go
backend/supernova
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDEs
.vscode/
.idea/
*.swp

# Project specific
~/.supernova
ui.png
.env
/dev-screenshots

# Local Data
music/
data/
cache/
*.db
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm
*.mp3
*.flac
*.m4a
*.ogg
*.wav
